$darkBg: #003b4e;//#262626;

@mixin abtitle {
    text-align: center;
    color: #fff;
    background-color: $darkBg;
}

h1 {
    @include abtitle;
}

::-webkit-scrollbar {
    background-color: #9eb1bb;
}

::-webkit-scrollbar-thumb {
    background-color: $darkBg;
}
#sideDiv {
  background-color: $darkBg;
  h4 {
    background-color: rgb(237, 251, 255);
    color:  $darkBg;
    box-shadow: 2px 2px 1px 1px rgba(114, 139, 188, .3);
  }
  a {
    background-color: $darkBg;
  }
}
#abils { background-color: #286a80}

#abilsmain {
  width: 80vw;
  button {background-color: $darkBg;}
}

#pages select {background-color: #b5d1db}
.pages {font-size: 18px}
.filtersmain select option {
   background-color: #b5d1db;
}

#navFiters {
  padding: 3px 0 0 0;
  border-top: 0 solid $darkBg;
  //div:nth-child(2) {float: right }
}

// TABLE
table{color: black}

.thead {
  @include abtitle;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 0;
  cursor: pointer;
}

th { background-color: $darkBg}
#pic {
  padding: 6px;
  img {
    width: 40px;
    padding: 5px;
    display: block;
    margin: auto;
  }
}

table tr td:nth-child(6) {padding: 3px 0 2px 31px}
td:nth-child(n+8) div{
  max-height: 100px;
  overflow:scroll;
}
.applyTip .applyText {
    background-color: $darkBg; //rgb(77, 99, 111);
  }
