$mainBg: #8e0000; //#33424a;
::-webkit-scrollbar-thumb { background-color: $mainBg; }
::-webkit-scrollbar { background-color: rgb(193, 224, 245); }
@mixin title {
    text-align: center;
    color: #fff;
    background-color: $mainBg
}
h1 {
    @include title;
}
#sideDiv {
  background-color: $mainBg;
  h4 {
    background-color: #ffebeb;
    color:  $mainBg;
    box-shadow: 2px 2px 1px 1px rgb(193, 224, 245);
  }
  a {
    background-color: $mainBg;
  }
}
#jobsmain { margin: auto}
.section { width: 70vw !important}
#chapters {background-color: #a41919 !important}
#otherfilters > div:first-child {text-align: left;}
#pages {
  button { background-color: $mainBg}
  select, option { background-color: #ff7b7b}
}
th {background-color: $mainBg}
.section {width: 80vw}
#jobsmain {width: 80vw}
td:nth-child(2) img, td:nth-child(4) img, td:nth-child(8) img {
  width: 45px;
  padding: 0 0 0 0;
}
td:nth-child(3) {text-align: center;}
td:nth-child(2), td:nth-child(4), td:nth-child(8) {  background-color: $mainBg}
table tr td:not(:first-child) {padding: 0 0 0 0}
table tr td:nth-child(5),table tr td:nth-child(6) {padding: 0 10px}
.redRule { background-color: red !important; color: white}

.tooltipMy .tooltiptext {
    background-color: $mainBg; //rgb(77, 99, 111);
    left: 25%;
    bottom: 85%;
    box-shadow: 3px 3px #ff7b7b;
}

@media only screen and (max-width: 760px) {
  td:nth-child(4) { display: none}
  .section { width: 90vw}
}
