td:nth-child(2) img {
  width: 75px;
  filter: brightness(0);
}

table tr td:not(:first-child) {
 padding: 0 0 0 0;
}
table tr td:not(:nth-child(2)){
  padding: 0 0 0 10px
}

td:nth-child(n+7) img {
  width: 30px
}
