$mainBg: #dd9a00;

::-webkit-scrollbar-thumb { background-color: $mainBg; }
::-webkit-scrollbar { background-color: rgb(193, 224, 245); }
#sideDiv {
  background-color: $mainBg;
  h4 {
    background-color: rgb(193, 224, 245);
    color:  $mainBg;
    box-shadow: 2px 2px 1px 1px rgb(193, 224, 245);
  }
  a {
    background-color: $mainBg;
  }
}
@mixin title {
    text-align: center;
    color: #fff;
    background-color: $mainBg;
}
h1 {
    @include title;
}
#jobsmain { width: 80vw; margin: 0 5% 0 10%}
th { background-color: $mainBg}
#chapters { background-color: #d3a12e !important}
#otherfilters > div:first-child {text-align: left;}
#pages {
  button { background-color: $mainBg}
  select { background-color: #ebc369}
  option {background-color: #ebc369;}
}
td:nth-child(2) img {
  width: 75px;
  filter: brightness(0);
}
td:nth-child(3) {
  cursor: url('img/other/cursor3.png'), auto !important;
}
table tr td:not(:first-child) {
 padding: 0 0 0 0;
}
table tr td:not(:nth-child(2)){
  padding: 0 0 0 10px
}

td:nth-child(n+3) img {
  width: 30px
}

.openNewHero { cursor: pointer}
.cond, .cond1 { font-weight: normal}
.cond1 { text-decoration: underline;}

@media only screen and (max-width: 760px) {
  #otherfilters div:first-child {text-align:center;margin-bottom:7px}
  #pages {margin-left: -10px}
  #jobsmain { width: 100vw; margin:0; overflow-x: scroll}
  table tr td:nth-child(3) { position: relative}
}
