$mainBg: #444444;
.section { width:85vw}
::-webkit-scrollbar {
    background-color: #9eb1bb;
}

::-webkit-scrollbar-thumb {
    background-color: $mainBg;
}
#header {
  img {
    width:55%;
    display: block;
    margin: auto;
    animation: bounce-in 2s ease;
    box-shadow: 2px 2px black;
  }
}
@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% { transform: scale(.9); }
  100% { transform: scale(1); }
}

#costdiv {
//  display:none;
  text-align: center;;
//  margin-top: 10px;
  padding-top: 10px;
  margin: 10px 12% 0 12%;
  border-radius: 8%;
  background-color: $mainBg;
  box-shadow: 1px 2px black;
  span {
    margin: 0 5%;
    width: 40%;
    display: inline;
    padding: 3px 8%;
    color: white;
    border-radius: 4%;
    box-shadow: 2px 2px black;
    h4 {display: inline;}
    .reqimg:first-child {transform: scaleX(-1);}
    img {
      display: inline;
      width: 30px;
    }
  }
}

#req {
  margin-top: 10px;
  h4 {
    text-align: center;
    padding:60px 15px;
    border-radius: 8%;
  }
  img {
    display: block;
    margin: auto;
  }
}

#rewards {
  .reward {
    height: 450px;
  }
  ::-webkit-scrollbar {
      background-color: #9eb1bb;
  }

  ::-webkit-scrollbar-thumb {
      background-color: $mainBg;
  }
  h4 {
    background-color: $mainBg;
    color: white;
    text-align: center;
    margin: 0 40px;
    padding: 3px 0;
    border-radius: 8%;
    box-shadow: 1px 1px black;
    span {float:right; margin-right:6%}
  }
  ul:not(#elementHeroesList) {
    margin-top:20px;
    height: 350px;
    overflow-y: scroll;
    list-style-type: none;
    //li { display: inline-block;}
    h5 { display: inline;}
    li:hover img {
      transform: scale(1.5)
    }
    img:not(.elementImg) {width: 30px; display: inline}
  }
  #elementHeroesList {
    margin-top:20px;
    list-style-type: none;
    h5 {
      padding: 6px 13px;
      text-align: center;
      height: 60px;
      width: 205px;
      display: block;
      margin:auto;
    }
    img {
      height: 150px;
      display: block;
      margin: auto;
    }
    li:hover {
      transform: scale(1.5)
    }
  }
}
.standardgacha {}
.premiumgacha {}
.specialgacha {}
.lightsacha {}
.darkgacha {}
.firegacha {}
.windgacha {}
.earthgacha {}
.thundergacha {}

@media only screen and (max-width: 760px) {
  #header{
    img {width: 95%;}
  }
  #costdiv {
    span {
      box-shadow: 0 0 black;
      padding:0;
    }
  }
  .reqimg { width: 100px}
  #req {
    h4 { padding: 15px 15px}
  }
}
