$mainBg: #725142;

body::after { height: 0}
@keyframes spinBg {
	from{transform:scale(1)}
	to{transform:scale(1.2)}
}
@keyframes spinContent {
	from{transform:scale(1)}
	to{transform:scale(0.83)}
}
#wrapper {
//  animation: spinBg 7s infinite ease-in-out alternate;
}
//#subwrapper { animation: spinContent 7s infinite ease-in-out alternate}
@mixin title {
    text-align: center;
    color: #fff;
    background-color: $mainBg;
}

h1 {
    @include title;
}

#glossarymain {
  width: 80vw;
  padding: 10px 0;
//  button {background-color: $mainBg;}
}

#pages select {background-color:#99acb4}

.pages {font-size: 18px}
.filtersmain select option {
   background-color: rgba(42, 67, 74, .5);
}
table { border-color: transparent}
#applyTable { display: none}
thead {background-color: $mainBg}
th {position: relative;
  top:0;
  text-align:center;
  background-color: $mainBg;
}
#tabs {
  width: 100%;
  button {
    width: 50%;
    color: white;
    font-weight: bold;
    border-style: none;
    padding: 7px 0;
    background-color: rgba(170, 108, 78, .4)
  }
//  border-bottom: 3px solid #2a434a // $mainBg
}

.sticky { position: inherit !important}
#otherfilters {
  padding: 10px 0;
  div:first-child {text-align: left}
}
#pages button {background-color: $mainBg}

table tr td:nth-child(3) { font-weight: normal}
table tr td:nth-child(2) { font-weight: bold; text-align: center;}
table tr td:not(:first-child) { padding: 3px 9px}
table tr td:nth-child(n+4) {text-align: center;}

@media only screen and (max-width: 760px) {
  #otherfilters div:first-child {text-align:center;margin-bottom:7px}
  #pages {margin-left: -10px}
	#glossarymain { width: 100vw; margin:0; overflow-x: scroll}
	table tr td:nth-child(3) { position: relative}
}
