@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
$mainBg: #151b1f;
$maintxt: #36c1f9;

body::after {
  background-size: 0;
  height:0;
  width:0;
}

::-webkit-scrollbar-thumb { background-color: $mainBg; }
::-webkit-scrollbar { background-color: rgb(193, 224, 245); }
h1 {background-color: transparent}
section {  margin-top: -25px;}
#mainsec {width: 70vw; margin: auto}

#change {
  margin-top: 25px;
//  box-shadow: 5px 5px 10px #36c1f9;
  h2 { text-align: center}
  #change1 img{ height: 170px}
  #change2 {
    margin: 20px auto;
    height: 360px;
    border-top:8px solid $maintxt;
    border-bottom:8px solid $maintxt;
    .txtdiv {  height: 57.5px; }
    img { height: 210px}
  }
}
.change {
  position: relative;
  margin: 40px auto;
}
.div {
position:absolute;
top: 0;
opacity: 0;
  .txt {
    font: 1.5em/1 Open Sans, Impact;
    display: inline;
    margin:auto;
    text-align: center;
    font-size: 0;
    padding: 6px 0;
    text-shadow: 2px 2px black;
    font-weight: bold;
  }
  .col-5 {width: 215px;}
  img {
    display:block;
    margin: auto;
    height:220px;
    width: auto;
  }
  .txtdiv { text-align: center;width: 835px}//}
  .txt:nth-child(3) { color: $maintxt; letter-spacing: 4px}
}
#txtdiv {
  display:block;
  margin:auto;
}
//#div2 {opacity: 0}
#info {
  color: white;
}
#infoInf {padding: 15px 45px}
#gplay {
  text-align: center;
  padding:25px;
  img {
    display:inline;
    margin: auto;
    margin-top: -30px;
    filter: drop-shadow(2px 1px 6px white);
  }
  #playimg { width:200px;  }
  #media img {
  //  margin-top: 10px;
    width:50px;
  //  float: left
  }
}
#gplay2 { margin: 50px 50px 0 50px }
@keyframes TransitioningBackground {
  0% {
    background-position: 1% 0%;
  }
  50% {
    background-position: 99% 100%;
  }
  100% {
    background-position: 1% 0%;
  }
}

#playdiv a {
  // for shine & gradient effects to work
  position: relative;
  overflow: hidden;

  // psuedo-element shine animation left side
  &::before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    width: 50px;
    height: 50%;
    top: -30px;
    left:23%;
    filter: blur(30px);
    transform: translateX(-100px) skewX(-15deg);
  }

  // psuedo-element shine animation right side
  &::after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 30px;
    height: 50%;
    top: -30px;
    left:23%;
    opacity:0;
    filter: blur(5px);
    overflow:hidden;
    transform: translateX(-7px) skewX(-15deg);
  }

  // grow button and change background gradient on hover
  &:hover {
    transform: scale(1.2);
    cursor: pointer;

    // psuedo-elements for right- and left-side shine animations
    &::before,
    &::after {
      10% {
        opacity:1;
      }
      99% {
        opacity: 1
      }
      100% {opacity: 0}
      transform: translateX(135px) skewX(-15deg);
      transition: 0.5s;
    }
  }
}
.shine {
  width:10px;
  height:45px;
  position:absolute;
  top:-20px;
  left: 0;
  overflow:hidden;
  background: rgba(255, 255, 255, 0.4);
  transition: all .1s ease;
  transform: skewX(10deg) translateX(0);
  opacity: 0;
  filter: blur(5px);
}
#media a {
  width:40px;
  height:40px;
  overflow:hidden;
  position:relative;
}
#media a:hover .shine {
  transform: skewX(10deg) translateX(40px);
  animation: shine 0.5s ease;
}
@keyframes shine {
  1% { opacity:1}
  80% { opacity: 0}
}
.gshine {
  width:10px;
  height:45px;
  position:absolute;
  top:-15px;
  left: 0;
  overflow:hidden;
  background: rgba(255, 255, 255, 0.4);
  transition: all .2s linear;
  transform: skewX(10deg) translateX(0);
  opacity: 0;
}
#playdiv a:hover .gshine {
  transform: skewX(10deg) translateX(170px);
  animation: shine 0.5s ease;
}

.maininf {
//  padding: 20px;
  margin: auto;
  h1 {
    text-transform: uppercase;
    font: 2.5em/1 Open Sans, Impact;
    text-align: center;
    color: $maintxt;
    font-weight:bold;
    padding-bottom:15px;
    text-shadow: 1px 2px black;
    border-radius: 5%;
    animation-delay: 0.8s;
    margin: 0 0 60px 0;
    line-height:0.6;
  //  height:63px !important
  }
  h1:hover {
    transition:1s;
    transform: scaleX(-1);
    transform: rotate(360deg);
  }
  .eternal {
    color:$mainBg;
    font-size:36px;
    text-shadow: 0 0 5px $maintxt, 0 0 15px $maintxt, 0 0 20px $maintxt, 0 0 40px $maintxt, 0 0 60px $maintxt, 0 0 10px $maintxt, 0 0 98px $maintxt;
    animation: blink 12s infinite;
   -webkit-animation: blink 12s infinite;
  }
  .head {
    position: relative;
    top: 20px;
    display: inline-block;
    -webkit-animation: bounce 3.4s ease infinite alternate;
  }
  ul { list-style-type: none;
    font-size: 20px;
    line-height:1.7;
    text-align: justify;
  }
  li {
    line-height:1.7;
    padding:6px;
    font-size: 20px;
    opacity: 0;
    font-weight: bold;
    text-shadow: 4px 4px 4px black;
    background: transparent;
        transition: .5s ease-out;
    background: linear-gradient(to left, transparent 50%, #052a42 50%) right;
    background-size: 200%;
    background-color: transparent;
  }
  li:hover {background-position: left}
  li:nth-child(1) {
    animation: fromLeft 0.3s linear 1 forwards;
    animation-delay: 8s;
  }
  li:nth-child(2) {
    animation: fromRight 0.4s linear 1 forwards;
    animation-delay: 10s;
  }
  li:nth-child(3) {
    overflow: hidden;
    animation: slideBottom 1s linear 1 forwards;
    animation-delay: 12s
  }
  li:nth-child(4) {
  //  height: 80px;
    overflow: hidden;
    animation: slideLeft 1s linear 1 forwards;
    animation-delay: 14s
  }
  li:nth-child(5) {
    transform:scale(0);
    animation: scale 1s linear 1 forwards;
    animation-delay: 16s
  }
  .licontainer {
    position:relative;
    opacity:1;
    background-color: transparent;
    div:nth-child(2) {
      opacity:0;
      position: relative;
      animation: fadein 2s ease-out forwards;
      animation-delay: 18s;
      z-index:-1;
  }
    .cover {
      position:absolute;
      top: 0;
      left:0;
      width: 0;
      animation: translate 2s ease-out forwards;
      animation-delay: 18s;
      height: 114px;
      background-color: #052a42;
      z-index:1
    }
  }

  img {
    width:20px;
  }

  .ghostdiv { position: relative;}
  .ghostdiv:first-child {transform: scaleX(-1)}
  #ghost {
    position: absolute;
    left: 2%;
    top:-20px;
    left:30px;
    width:130px;
    filter: drop-shadow(2px 4px 6px #36c1f9);
  //  transform: rotate(40deg);
  }
}
.head:nth-child(1), .head:nth-child(8), .head:nth-child(12), .head:nth-child(18) {
  font-size:68px
}
.head:nth-child(2), {
  -webkit-animation-delay: 0.1s;
}

.head:nth-child(3) {
  -webkit-animation-delay: 0.2s;
}

.head:nth-child(4) {
  -webkit-animation-delay: 0.3s;
}

.head:nth-child(5) {
  -webkit-animation-delay: 0.3s;
}

.head:nth-child(6) {
  -webkit-animation-delay: 0.2s;
}

.head:nth-child(7) {
  -webkit-animation-delay: 0.1s;
}

.head:nth-child(8) {
  -webkit-animation-delay: 0s;
}

.head:nth-child(9) {
  -webkit-animation-delay: 1.3s;
}

.head:nth-child(10) {
  -webkit-animation-delay: 1.4s;
}

.head:nth-child(12) {
  -webkit-animation: bounce2 3.4s ease infinite alternate;
    -webkit-animation-delay: 0.3s;
}

.head:nth-child(13) {
  -webkit-animation: bounce2 3.4s ease infinite alternate;
    -webkit-animation-delay: 0.2s;
}

.head:nth-child(14) {
  -webkit-animation: bounce2 3.4s ease infinite alternate;
    -webkit-animation-delay: 0.1s;
}

.head:nth-child(15) {
  -webkit-animation: bounce2 3.4s ease infinite alternate;
    -webkit-animation-delay: 0.0s;
}
.head:nth-child(16) {
  -webkit-animation: bounce2 3.4s ease infinite alternate;
    -webkit-animation-delay: 0.1s;
}
.head:nth-child(17) {
  -webkit-animation: bounce2 3.4s ease infinite alternate;
    -webkit-animation-delay: 0.2s;
}
.head:nth-child(18) {
  -webkit-animation: bounce2 3.4s ease infinite alternate;
    -webkit-animation-delay: 0.3s;
}


/* ANIMATION */
@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px $maintxt, 0 0 15px $maintxt, 0 0 20px $maintxt, 0 0 40px $maintxt, 0 0 60px #250c95, 0 0 10px #250c95, 0 0 98px #250c95;
    color: $mainBg;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px $maintxt, 0 0 15px $maintxt, 0 0 20px $maintxt, 0 0 40px $maintxt, 0 0 60px #250c95, 0 0 10px #250c95, 0 0 98px #250c95;
    color: $mainBg;
  }
}
@-webkit-keyframes bounce {
  10% {
    top: -30px;
    text-shadow: 0 0 5px #02021c, 0 0 15px #0a5281, 0 0 20px #02021c, 0 0 40px #02021c, 0 0 60px $maintxt, 0 0 10px $maintxt;
    letter-spacing: 14px;
  }
  100% {
    top: -30px;
    text-shadow: 0 0 5px #02021c, 0 0 15px #0a5281, 0 0 20px #02021c, 0 0 40px #02021c, 0 0 60px $maintxt, 0 0 10px $maintxt;
    letter-spacing: 14px;
  }
}
@-webkit-keyframes bounce2 {
  0% {
    top: -30px;
  }
  10%{
    top: 20px;
    text-shadow: 0 0 5px #02021c, 0 0 15px #0a5281, 0 0 20px #02021c, 0 0 40px #02021c, 0 0 60px $maintxt, 0 0 10px $maintxt;
    letter-spacing: 14px;
  }
  100%{
    top: 20px;
    text-shadow: 0 0 5px #02021c, 0 0 15px #0a5281, 0 0 20px #02021c, 0 0 40px #02021c, 0 0 60px $maintxt, 0 0 10px $maintxt;
    letter-spacing: 14px;
  }
}
@keyframes fromLeft {
  0% {
    transform-origin: left top;
    transform: rotate(-90deg);
    opacity:1
  }
  100% {
    transform-origin: left bottom;
    transform: rotate(0);
    transform: translateZ(400px);
    opacity: 1;
    background-color:transparent;
  }
}
@keyframes fromRight {
  0% {
    transform-origin: right top;
    transform: rotate(-90deg);
    opacity:1
  }
  100% {
    transform-origin: right bottom;
    transform: rotate(0);
    opacity: 1;
    background-color: transparent
  }
}
@keyframes slideBottom {
  0%{
    height: 0;
    opacity:0;
  }
  100% {
    height: 80px;
    opacity:1;
    background-color:transparent;
  }
}
@keyframes slideLeft {
  0%{
    width: 0;
    opacity:0;
  }
  100% {
    width: 100%;
    opacity:1;
    background-color: transparent
  }
}
@keyframes scale {
  0%{
    transform: scale(0);
    opacity:0;
  }
  50% { transform:scale(1.5); opacity: 1}
  100% {
    transform: scale(1);
    opacity:1;
    background-color: transparent
  }
}
@keyframes translate {
  0%{
    width: 0
  }
  50% {
    width: 100%
  }
  100% {
    width:0;
  //  z-index: -2
  }
}
@keyframes fadein {
  50% {
    opacity:0
  }
  51% {
    opacity:1
  }
  99% { z-index: -1}
  100% { opacity: 1; z-index:2}
}

#updates {
  position: relative;
  overflow: hidden;
  #banner {
    width: 100%;
    display: block;
    margin: auto;
    border-radius:10%;
    box-shadow: 1px 2px black;
  }
  h2, ul , .mask{
    position:absolute;
  //  opacity: 0;
  }
  .mask {
    width:100%;
    height:100%;
    background: rgba(8, 54, 84,.9);
    border-radius:10%;
    transform: scale(0)
  }
  h2 {
    top: 15%;
    background: rgba(54, 193, 249,.9);
    width: 100%;
    color: white;
    font-weight: 600;
    padding-left: 25%;
    transform: scale(0);
    box-shadow: 2px 1px black;
    text-shadow: 2px 1px #052a42;
  }
  ul {
    width:100%;
    top:28%;
  //  padding-top:28%;
    left:0;
    padding-left:11%;
    transform: scale(0);
    background: rgba(8, 54, 84,.9)
  }
}
#updates:hover .mask {
  transition: 0.7s;
  transform: scale(1);
}
#updates:hover h2 {
  transition: 0.7s;
  transition-delay:0.3s;
  transform: scale(1);
}
#updates:hover ul {
  transition: 0.7s;
  transition-delay:1.6s;
  transform: scale(1);
}



#herodiv {
  overflow:hidden;
  position: fixed;
  left: 0;
  top:171px;
  border-right: 14px solid $mainBg ;
  background-color: white;
  padding-top:10px;
}
#herodiv2 {
  overflow:hidden;
  position: fixed;
  right: 0;
  top:171px;
//  height:100%;
//  width:100%;
//  height:130px;
  border-left: 14px solid $mainBg ;
//  border-bottom: 14px solid $mainBg ;
  background-color: white;
  padding-top:10px;
}
@keyframes hithere {
  1% { transform: scale(1.2); }
  4%, 8% { transform: rotate(-20deg) scale(1.2); }
  6% { transform: rotate(20deg) scale(1.2); }
  11% { transform: rotate(0deg) scale(1.2); }
  16% { transform: scale(1); }
  100% { transform: scale(1); }
}

@keyframes animate {

    0%{
        transform: translateY(0);//rotate(0deg);
        opacity: 0.4;
        border-radius: 0;

    }
    100%{
        transform: translateY(800px);//rotate(720deg);
        opacity: 0.8;
        border-radius: 50%;
    }

}
#stones {overflow:hidden}
.stone {
  position: fixed;
  z-index:-10;
  opacity: 0;
  top: 0;
  animation: animate 30s linear infinite;
  filter: blur(2px);
}
.stone:nth-child(2) {
  left: 47%;
  width: 100px;
  animation-delay: 40s;
  animation-duration: 45s;
}
.stone:nth-child(3) {
  left: 90%;
  width: 40px;
  animation-delay: 28s;
  animation-duration: 25s;
}
.stone:nth-child(4) {
  left: 55%;
  width: 120px;
  animation-delay: 25s;
  animation-duration: 45s;
}
.stone:nth-child(5) {
  left: 50%;
  width: 65px;
  animation-delay: 7s;
  animation-duration: 45s;
}
.stone:nth-child(6) {
  left: 70%;
  width: 85px;
  animation-delay: 30s;
  animation-duration: 50s;
}
.stone:nth-child(7) {
  left: 37%;
  width: 105px;
  animation-delay: 48s;
  animation-duration: 53s;
}
.stone:nth-child(8) {
  left: 20%;
  width: 115px;
  animation-delay: 33s;
  animation-duration: 50s;
}
.stone:nth-child(9) {
  left: 15%;
  width: 35px;
  animation-duration: 60s;
}
.stone:nth-child(1) {
  left:30%;
  width:100px;
  animation-delay: 1s;
  animation-duration: 60s;
}
.stone:nth-child(10) {
  width:80px;
  left:20%;
  animation-delay: 35s;
  animation-duration: 60s;
}



@keyframes bump {
  0% {
    font-size: 2.5rem
  }
  50% {
    font-size:3.5rem;
    color: white;

  }
  100% {
    font-size: 2.5rem
  //  color: $maintxt
  }
}

#animationHeader {
  font: 2.5em/1 Open Sans, Impact;
  text-shadow: 16px 2px 30px $maintxt;
  margin-bottom: 20px;
  .terror {
    opacity:0;
    font-size: 30px;
    padding: 13px;
    text-shadow:5px 1px 16px red, 6px 6px 26px red;
  }
  .animateTerror {
    animation:terror 1.7s ease 1;
  }
}

@keyframes terror {
  0% {
    opacity: 0;
    transform: scale(0)
  }
  20% {
    opacity: 1;
    transform: scale(1)
  }
  40% {
    transform: scale(1.2)
  }
  55% {
    transform: scale(1.4)
  }
  60% {
    transform: scale(1.4)
  }
  65% {
    transform: scale(1.4)
  }
  80% {
    transform: scale(1.2)
  }
  100% {
    transform: scale(1)
  }
}
@media only screen and (max-width: 760px) {

  #mainsec { width: 100vw}
  #infoInf { padding: 0}
  .maininf  {
    h1 {
      font: 1.7em/1 Open Sans, Impact;
    }
    .head:nth-child(1), .head:nth-child(8), .head:nth-child(12), .head:nth-child(18) {
      font-size:47px
    }
    #ghostdiv {margin:-30px auto auto auto;}
    #ghost {
      position: relative;
      display: block;
      margin: auto;
    }
    .ghostdiv:first-child { display: none}
  }
  .change { margin: 10px}
  #gplay {
    margin-bottom: 25px;
    padding-bottom: 0;
    img {
      margin-top: 0;
    }
    #playdiv {padding:10px}
  }
  .div  .txtdiv { width: 300px}
  #herodiv {
    top: 87%;
    height: 350px;
    border-right: none;
    border-top: 14px solid $mainBg;
  }
  #herodiv2 {display: none}
  #up {bottom: 60px}

  .maininf li:nth-child(4) {
    height:107px;
  }
  @keyframes slideBottom {
    0%{
      height: 0;
      opacity:0;
    }
    100% {
      height: 190px;
      opacity:1
    }
  }
  @keyframes slideLeft {
    0%{
      width: 0;
      opacity:0;
    }
    100% {
      width: 90vw;
      opacity:1
    }
  }
  .view {
    background-size:contain;
    border: none;
    margin:0 auto
  }
}
