

#rarity { color: gold }
#jobmaindiv { margin: 10px}
#basicinfo { margin: 20px 5px 20px 5px}
#traitsdivPassive h5:first-child {
  //text-align: center;
}
#passiveDesc { margin: 10px 5px 10px 5px}
#passiveSkill { text-align: center }
#switchDesc { margin: 10px 5px 30px 5px}
#switchSkill { text-align: center}
#switchimg img { width: 45px; margin-bottom: 7px }
#deckdiv {
  margin: 10px 0;
  img {
    width: 45px;
    display: block;
    margin:auto;
  }
}

.jobattrs {margin: auto}
.job1star {
  background-color: #6a8d55;
  section:nth-child(3) {background-color: #f4ffed;}
  h1 {
      background-color: #6a8d55;
      margin-right: auto;
      margin-left: auto;
  }

  h4 {
      text-align: center;
      color: #6a8d55;
  }
  #passiveH {
    background-color: #6a8d55;
    color: white
  }
  #passiveSkill { border-right: 2px solid #6a8d55}
  #switchH {
    background-color: #6a8d55;
    color: white
  }
  #deck { background-color: rgba(106, 141, 85, .7) }

}

.job2star {
    background-color: #4b7396;
    section:nth-child(3) {background-color: #eef7ff;}
    h1
    {
        background-color: #4b7396;
        margin-right:auto;
        margin-left: auto;
    }

    h4 {
        text-align: center;
        color: #4b7396
    }
    #passiveH {
      background-color: #4b7396;
      color: white
    }
    #passiveSkill { border-right: 2px solid #4b7396}
    #switchH {
      background-color: #4b7396;
      color: white
    }
    #deck { background-color: rgba(75, 115, 150, .7) }
}

.job3star {
    background-color: #584b67; //#f5eefd;
    section:nth-child(3) {background-color: #f5eefd;}
    h1 {
        background-color: #584b67;
        margin-right:auto;
        margin-left: auto;
    }

    h4 {
        text-align: center;
        color: #584b67
    }
    #passiveH {
      background-color: #584b67;
      color: white
    }
    #passiveSkill { border-right: 2px solid #584b67}
    #switchH {
      background-color: #584b67;
      color: white
    }
    #deck { background-color: rgba(88, 75, 103, .7) }
}

.job4star {
    background-color: #954e3a;
    section:nth-child(3) {background-color: #fff0ec;}
    h1 {
        background-color: #954e3a;
        margin-right:auto;
        margin-left: auto;
    }

    h4 {
        text-align: center;
        color: #954e3a
    }
    #passiveH {
      background-color: #954e3a;
      color: white
    }
    #passiveSkill { border-right: 2px solid #954e3a}
    #switchH {
      background-color: #954e3a;
      color: white
    }
    #deck { background-color: rgba(149, 78, 58, .7) }
}

.job5star {
    background-color: #e0c369;
    section:nth-child(3) {background-color: #fffaef;}
    h1 {
        background-color: #e0c369;
        margin-right:auto;
        margin-left: auto;
    }

    h4 {
        text-align: center;
        color: #e0c369;
        font-weight: bold;
    }
    #passiveH {
      background-color: #e0c369;
      color: white
    }
    #passiveSkill { border-right: 2px solid #e0c369}
    #switchH {
      background-color: #e0c369;
      color: white
    }
    #deck { background-color: #e0c369 }
}

#passiveSkillsH, #passiveSkills { display: inline}
#passiveEffectsH, #passiveEffects { display: inline}
#passiveTraitsH, #passiveTraits { display: inline}
#switchskillsH, #switchskills { display: inline}
#switcheffectsH, #switcheffects { display: inline}
#switchtraitsH, #switchtraits { display: inline}

#jobimg div:first-child {
  max-width: 195px;
  display: block;
  margin: auto;
  img:first-child {
    max-width: 195px;
    height: auto;
  }
  img:nth-child(2) {
    left: 13px;
    top: 13px;
    max-width: 165px;
    height: auto;
  }
}

#rarity img {
  margin-top: -40px;
  margin-bottom: 45px;
}
#craftCraft i {margin: 30px auto}
.craft {
  text-align: center;
}

.craftjob img {
  max-width: 100px
}
.craftjob div:first-child {
  max-width:100px;
  margin: auto;

  img:nth-child(2) {
    left: 6px;
    top: 6px;
    width:87px;
  }
}

.craftmat img {
  max-width: 60px;
  display: block;
  margin: 20px auto;
}
