$darkBg: #0f1e3c;//#262626;

@mixin abtitle {
    text-align: center;
    color: #fff;
    background-color: $darkBg;
}

h1 {
    @include abtitle;
}

::-webkit-scrollbar {
    background-color: #9eb1bb;
}

::-webkit-scrollbar-thumb {
    background-color: $darkBg;
}

#passivesmain {
  width: 80vw;
  button {background-color: $darkBg;}
}

#pages select {background-color: rgb(114, 139, 188)}
.pages {font-size: 18px}
.filtersmain select option {
   background-color: rgb(114, 139, 188);
}

#navFiters {
  padding: 3px 0 0 0;
  border-top: 0 solid $darkBg;
  div:first-child {float: right }
}

#passives { background-color: #1a3569}
// TABLE
table{color: black}

.thead {
  @include abtitle;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 0;
  cursor: pointer;
}

th { background-color: $darkBg}
