@import "~bootstrap/scss/bootstrap";
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';


/*black in main nav bar, light to all*/
$mainBg: #33424a; //#435761;
$mainBgLight: #f5f7f8; //#ebddca;
/*brown headings bg*/
$secondBg: #151b1f;
$secondBgLight: #c4c2bf;

@mixin title {
    text-align: center;
    color: #fff;
    background-color: $mainBg;
}

@mixin subtitle {
    h2 {
        text-align: center;
    }

    h5 {
        color: #fff;
        background-color: $mainBg;
    }
}


body {
  background: rgb(245,247,248);
background: radial-gradient(circle, #a5c6d6 0, rgba(21,27,31,1) 60%, rgba(51,66,74,1) 100%);
    font-size: 18px;
    position: relative;
}

img { max-width: 100%}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: $secondBg;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

  a {
    text-align: left;
    color: black
  }
}

.dropdown-content a:hover {
  background-color: rgba(0,0,0,0.2);
  color: black;
}
.dropdown:hover .dropdown-content {display: block;}
//.dropdown:hover .dropbtn {background-color: #3e8e41;}
//.fas {line-height: 1.5;}
.section {
    padding: 10px 0;
    max-width: 90vw;
    margin: auto;
}
 nav { z-index: 101}
nav:nth-child(2) {
    background-color: $secondBg;
    margin-bottom: 40px
}

#bgimg {
  width: 100%;
  position: fixed;
  top: 90px;
  z-index: -1
}
.tooltipMy {
    position: relative;
    opacity: 1;
    img {
      width: 25px;
    }
}

    .tooltipMy .tooltiptext {
        visibility: hidden;
        width: 200px;
        background-color: rgb(77, 99, 111);
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 0;
        position: absolute;
        z-index: 1;
        left: -35%;
        bottom: 85%;
        opacity: 0;
        transition: opacity 0.3s;
        box-shadow: 3px 3px #435761;
    }

        .tooltipMy .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    .tooltipMy:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }

.row {
    margin: 0
}

h1 {
    @include title;
}

.subtitle {
    color: #fff;
    background-color: $mainBg;
}

.subtitle2 {
    @include subtitle;
}

.subtitle3 {
    h2

{
    color: #fff;
    background-color: $mainBg;
}

}

.info {
    margin-bottom: 10px
}

#jobsmain { width: 70vw }
#jobs select {
  box-shadow: 2px 2px #435761;
 }
select option {
   background-color: rgb(158, 177, 187);
}

#jobtable {
    width: 100%;
    tr: nth-child(even)

{
    background-color: #9eb1bb;
}

td:nth-child(n+4) {
    text-align: center;
}

tr:nth-child(n+1):hover {
    color: #fff;
    background-color: $mainBg;
}

i {
    margin-top: 5px;
}

img {
    width: 40%
}

}
#pic div:first-child {   // jobicon in the table
  max-width: 65px;
  img:first-child {
    max-width:50px;
    height: auto;
  }
  img:nth-child(2) {
    max-width: 40px;
    top: 5px;
    left: 5px;
    height: auto;
  }
}
.sticky {
  position: fixed;
  top: 0;
//  background-color: #435761;
  width: 100%;
  z-index: 100;
}

.thead {
    @include title;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 0;
    cursor: pointer;
    position: sticky;
    top: 0

}


#jobsTable tr td:nth-child(3) {
    font-weight: bold;
    cursor: pointer;
}
#jobsTable tr td:nth-child(4) {
    color: gold;
}
#jobsTable tr td:nth-child(8) {
    background-color: rgba(245, 241, 15, 0.7);
}

#jobsTable tr td:nth-child(9) {
    background-color: rgba(255, 101, 101, 0.7);
}

#jobsTable tr td:nth-child(10) {
    background-color: rgba(101, 255, 101, 0.7);
}

#jobsTable tr td:nth-child(11) {
    background-color: rgba(0, 0, 255, 0.7);
}

#jobsTable tr td:nth-child(n+4) {
  text-align: center;
}

#jobs select { float: right }
#jobsclear { float: right }
#pages {
  display: inline;
  button {
    background-color: rgb(77, 99, 111);
    color: rgb(158, 177, 187)
  }
  select {
    background-color: rgb(158, 177, 187);
    float: none;
  }
  img {
    width: 44px;
    margin-bottom: 3px
  }
}
#otherfilters div:first-child {text-align: right}
.pages {
  font-size: 20px;
  margin: auto;
}
#first img { transform: rotate(177deg)}
#prev img { transform: rotate(177deg)}
#next img { transform: rotate(-4deg)}
#last img { transform: rotate(-4deg)}
.jobimg {
  position: absolute;
  top: -18px;
  left: 4px;
  width: 33px;
  padding: 5px;
  z-index: 99
}

.jobBg {
  position: absolute;
  top: -20px;
  left: 0;
  width: 40px;
  z-index: 1;
}

.jobFrame {
  position: absolute;
  top: -23px;
  left: -3px;
  width: 49px;
  z-index: 2
}

/*attr*/
.maxhp { color: #e3a200 }
.strength, .str { color: red }
.agility, .agi { color: #00FF00	 }
.intelligence, .int { color: blue }
/*elements*/
.water { color: #3d9af2 }
.fire { color: #ff4538 }
.earth { color: #520500 }
.thunder { color: #b5a45b }
.wind { color: #5ee6a9 }
.dark { color: #7436ba }
.light { color: #ccc7d1 }
/*debuffs*/
.blind { color: #ccc7d1 }
.bleed { color: #ad2424 }
.dizzy { color: #5ee6a9 }
.insane { color: #d86de8 }
.depress { color: #7436ba }
.burn { color: #ff4538 }
.chill { color: #3d9af2 }
.paralysis { color: #c2ae55 }
.restrain { color: #8fc9c3 }
.injury { color: #cfae72 }
.seed { color: #520500 }

@media only screen and (max-width: 1000px) {

  .tooltipMy .tooltiptext {
      left: -55%;
  }

  .jobBg {
    width: 35px;
  }
  #jobs label { width: 100%}
  #jobs select { float: none}
  #jobsclear {
    float: none;
    margin-top: 25px;
  }
  #otherfilters { margin: 20px 0 0 0 }
  #otherfilters div:first-child {text-align: left}
  #jobsfilter div:nth-child(even) {text-align: right}
}

@media only screen and (max-width: 760px) {
  .tooltipMy .tooltiptext {
      left: -65%;
  }

  .jobBg {
    width: 35px;
  }
  #jobs label { width: 100%}
  #jobsclear {
    margin-top: 25px;
  }
  #otherfilters { margin: 20px 0 0 0 }
  #otherfilters div:first-child {text-align: left}
  #jobsfilter div:nth-child(even) {text-align: right}

}
