@import "~bootstrap/scss/bootstrap";
/*$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';*/


/*black in main nav bar, light to all*/
$mainBg: #2a434a; //#33424a;
$mainBgLight: #f5f7f8; //#ebddca;
/*brown headings bg*/
$secondBg: #151b1f;
$secondBgLight: #c4c2bf;

@mixin title {
    text-align: center;
    color: #fff;
    background-color: $mainBg;
}

@mixin subtitle {
    h2 {
        text-align: center;
    }

    h5 {
        color: #fff;
        background-color: $mainBg;
    }
}


body {
  background-color: rgb(245,247,248);
  background-image: radial-gradient(circle, #a5c6d6 0, rgba(21,27,31,1) 60%, rgba(51,66,74,1) 100%);
    font-size: 18px;
    position: relative;
}
body::after {
  content: '';
  background-size: 155px;
  height:100px;
  width:1200px;
  position: absolute;
  transform: scaleX(-1)
}

#bgimg {
  width: 100%;
  height: auto;
  position: fixed;
  top: 90px;
  z-index: -1
}

img { max-width: 100%}
::-webkit-scrollbar {
    width: 12px;
    background-color: #9eb1bb;
}
::-webkit-scrollbar:hover {
  width: 15px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: $mainBg;
}

//navigation bar
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: $secondBg;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  //margin-top: 5px;
  z-index: 1;

  a {
    text-align: left;
    color: black
  }
}

.dropdown-content a:hover {
  background-color: rgba(0,0,0,0.8);
  color: black;
}
.dropdown:hover .dropdown-content {display: block;}
//.dropdown:hover .dropbtn {background-color: #3e8e41;}
//.fas {line-height: 1.5;}
nav { z-index: 101}
nav:nth-child(2) {
   background-color: $secondBg;
   margin-bottom: 40px;
   border-bottom: 4px solid #f5f7f8;
}

//main sections
.section {
    padding: 10px 0;
    max-width: 90vw;
    margin: auto;
}

.row {
    margin: 0
}

h1 {
    @include title;
}

.info {
    margin-bottom: 10px
}

//main jobstable section narrower than other sections
#jobsmain { width: 80vw }

// jobs filters div
#jobs select {
  box-shadow: 2px 2px #435761;
  float: right;
 }
#jobs select option {
   background-color: rgb(158, 177, 187);
}

#jobsclear { float: right }
#pages {
  display: inline;
  button {
    background-color: rgb(58, 88, 99);//rgb(77, 99, 111);
    color: rgb(158, 177, 187)
  }
  select {
    background-color: rgb(158, 177, 187);
    float: none;
  }
  img {
    width: 44px;
    height: auto;
    margin-bottom: 3px
  }
}
#otherfilters div:first-child {text-align: right}
#jobsfilter div:nth-child(3), #jobsfilter div:nth-child(2) {
  margin-top: 5px;
}

.pages {
  font-size: 20px;
  margin: auto;
}
#first img { transform: scaleX(-1)}
#prev img { transform: scaleX(-1)}
#next img { transform: rotate(-4deg)}
#last img { transform: rotate(-4deg)}

//jobstable
#jobtable {
    width: 100%;
    tr: nth-child(even) {
      background-color: #9eb1bb;
    }

  tr:nth-child(n+1):hover {
      color: #fff;
      background-color: $mainBg;
  }

  i {
      margin-top: 5px;
  }

  img {
    //  width: 40%
  }

}

.sticky {
  position: fixed;
  top: 0;
//  background-color: #435761;
  width: 100%;
  z-index: 100;
}

.thead {
    @include title;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 0;
    cursor: pointer;
    position: sticky;
    top: 0

}

#jobsTable tr td:not(:first-child) { padding: 0 0 0 31px; }
#jobsTable tr td:nth-child(3) {
    font-weight: bold;
    cursor: pointer;
}
#jobsTable tr td:nth-child(4) {
    color: gold;
}
#jobsTable tr td:nth-child(8) {
    background-color: rgba(245, 241, 15, 0.7);
}

#jobsTable tr td:nth-child(9) {
    background-color: rgba(255, 101, 101, 0.7);
}

#jobsTable tr td:nth-child(10) {
    background-color: rgba(101, 255, 101, 0.7);
}

#jobsTable tr td:nth-child(11) {
    background-color: rgba(0, 0, 255, 0.7);
}

#jobsTable tr td:nth-child(n+8) {
  text-align: center;
  padding: 0;
}


.jobimg {
  position: absolute;
  top: -18px;
  left: 4px;
  width: 33px;
  height: 33px;
  padding: 5px;
  z-index: 99
}

.jobBg {
  position: absolute;
  top: -20px;
  left: 0;
  width: 40px;
  z-index: 1;
}

.jobFrame {
  position: absolute;
  top: -23px;
  left: -3px;
  width: 49px;
  z-index: 2
}

.tooltipMy {
    position: relative;
    opacity: 1;
    cursor: help;
    img {
      width: 25px;
      height: 25px;
      position: absolute;
      left: 0;
      padding: 3px
    }
}

//tooltips in jobstable
.tooltipMy:nth-child(even) { padding: 0 0 0 28px}
#pic div:first-child {   // jobicon in the table
  max-width: 65px;
  img:first-child {
    max-width:50px;
    height: auto;
    padding: 10px
  }
  img:nth-child(2) {
    max-width: 40px;
    top: 5px;
    left: 5px;
    height: auto;
  }
}
    .tooltipMy .tooltiptext {
        visibility: hidden;
        width: 200px;
        background-color: $mainBg; //rgb(77, 99, 111);
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 0;
        position: absolute;
        z-index: 1;
        left: -35%;
        bottom: 85%;
        opacity: 0;
        transition: opacity 0.3s;
        box-shadow: 3px 3px #435761;
    }

        .tooltipMy .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    .tooltipMy:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }

//keywords colors
/*attr*/
.maxhp { color: #e3a200 }
.strength, .str { color: red }
.agility, .agi { color: #00FF00	 }
.intelligence, .int { color: blue }
/*elements*/
.water { color: #3d9af2 }
.fire { color: #ff4538 }
.earth { color: #520500 }
.thunder { color: #b5a45b }
.wind { color: #5ee6a9 }
.dark { color: #7436ba }
.light { color: #ccc7d1 }
/*debuffs*/
.blind { color: #ccc7d1 }
.bleed { color: #ad2424 }
.dizzy { color: #5ee6a9 }
.insane { color: #d86de8 }
.depress { color: #7436ba }
.burn { color: #ff4538 }
.chill { color: #3d9af2 }
.paralysis { color: #c2ae55 }
.restrain { color: #8fc9c3 }
.injury { color: #cfae72 }
.seed { color: #520500 }

@media only screen and (max-width: 1000px) {

  .tooltipMy .tooltiptext {
      left: -55%;
  }
  .tooltipMy img { position:inherit;}
  .jobBg {
    width: 35px;
  }
  #jobs label { width: 100%}
  #jobs select { float: none; margin-right: 4px}
  #jobsclear {
    float: none;
    margin-top: 25px;
  }
  #otherfilters { margin: 20px 0 0 0 }
  #otherfilters div:first-child {text-align: left}
  #jobsfilter div:nth-child(odd) {text-align: right}
  #jobsfilter div:first-child {display: inline}
  #jobsfilter div:first-child label {width: 50%; text-align: left; float: left}
}

@media only screen and (max-width: 760px) {
  .tooltipMy .tooltiptext {
      left: -65%;
  }

  .jobBg {
    width: 35px;
  }
  #jobs label { width: 100%}
  #jobsclear {
    margin-top: 25px;
  }
  #otherfilters { margin: 20px 0 0 0 }
  #otherfilters div:first-child {text-align: left}
  #jobsfilter div:nth-child(odd) {text-align: right}
  #jobsfilter div:first-child { display: inline}
  #jobsfilter div:first-child label {width: 50%; text-align: left}
}
